<mat-card class="centered-card">
  <mat-card-header>
    <mat-card-title
      >Fill the form to find out loan amount and interest rate</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <app-loan-form [loanError]="loanError$ | async" (submitForm)="onSubmitForm($event)"></app-loan-form>
  </mat-card-content>
    <ng-container *ngIf="loanResult$ | async as loanResult" >
      <mat-card-content>
      <p>Interest Rate: {{loanResult.interestRate}}</p>
      <p>Loan Amount {{loanResult.loanAmount}}</p>
      </mat-card-content>
    </ng-container>
</mat-card>
